body{
    margin:0;
    color:#5a5f76;
    background:white;
    font:600 16px/18px 'Open Sans',sans-serif;
}

.logo_wrapper{
    display: flex;
    align-items:center;
    justify-content: center;
}

.logo{ /*DevTask 일정관리*/
    text-align: center;
    font:600 16px/18px 'Open Sans',sans-serif;
    font-size: 35px;
    font-weight: bold;   
    width:500px;
    height:45px;
    margin: 10px 0 5px 0;
    color: #6a6f8c;
    background-color: #ffffff;
}

.user_wrapper{  
    position: relative;
    left: 70%;
}

.name{
    position: relative;
    left: 25px;
    font-size: 20px;
    color:rgb(145, 145, 145);
}

.prj_btn{ /*MyProject 버튼*/
    width:175px;
    height:45px;
    margin: 10px 5px 5px 0;
    color:white;
    background-color: #4a89e8;
    border-radius: 5px;
    border-style: none;
    font-size:18px;
    font-weight: bold;
    cursor: pointer;
}


#projects{ 
    /* 프로젝트들 들어가는 칸 */
    text-align: center;
}
/* project new div 감싸주는칸 */
.newdiv{
    position:relative;
    color: #4a89e8;
    border:solid 1px #6a6f8c;
    margin-top:10px;
    margin-left: 100px;
    margin-right: 100px;
}
/* project new div 에서 프로젝트 타이틀 부분 div*/
.title{
    background-color: aqua;
}
/* project new div 에서 프로젝트 설명하는 부분 div*/
.describe{
    background-color: red;
}

/* project 삭제 div */
.deletediv{
    border: solid 1px #6a6f8c;
    margin:10px;
    background-color: #5a5f76;
    height: 100px;
    width: 100px;
}

