body{
  position: relative;
  margin: 0;
}

header{
  height: 10vh;
  font-size: 50px;
}

#text{ text-align: center;}

nav{
  height: 90vh;
  width: 10vw;
  padding-top: 10vh;
  float: left;
  border-right: 1px solid gray;
  box-sizing: border-box;
}

section{
  height:90vh;
  width: 80vw;
  float: left;
  text-align: center;
  
}

.div-top{
  height:10vh;
  font-size: 50px;
  border-bottom: 1px solid gray;
  box-sizing: border-box;
}
#div-middle{
  height:60vh;
}
.div-bottom{
  display: flex;
  height:20vh;
  width:80vw;
  display: flex;
  justify-content: center;
  text-align: center;
}

.sidebar{
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.link{
  text-decoration: none;
}
.link:hober{
}

.addissue{
  align-content:flex-start;
}

