body{
    margin:0;
    color:#6a6f8c;
    background:white;
    font:600 16px/18px 'Open Sans',sans-serif;
}

.login_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login_logo{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.mail_id{ /*이메일 입력란*/
    width:500px;
    height:45px;
    margin: 10px 0 5px 0;
    color:black;
    background-color: #e8f0fe;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
}

.password{ /*비밀번호 입력란*/
    width:500px;
    height:45px;
    margin: 10px 0 5px 0;
    color:black;
    background-color: #e8f0fe;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
}

.login_button_group{
    display: flex;
    justify-content: center;
    align-items: center;

}

.login_btn{ /*로그인 버튼*/
    width:100px;
    height:45px;
    margin: 10px 5px 5px 0;
    color:white;
    background-color: #0D6EFD;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
} 

.join_btn{ /*회원가입 버튼*/
    width:120px;
    height:45px;
    margin: 10px 0 5px 5px;
    color:white;
    background-color: #6C757D;
    border-radius: 5px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

